* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: steelblue;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.carousel-container {
  position: relative;
  max-width: 500px;
  overflow: hidden;
  margin-bottom: 30px;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-image {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0 5px;
  font-size: 25px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.indicators {
  position: absolute;
  bottom: 35%;
}

.indicator {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 5px;
  border-radius: 10%;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
}

.indicator.active {
  background-color: white;
  color: #000;
}
